{% extends 'base.html.twig' %}

{% block title %}Editar tarea{% endblock %}

{% block body %}
<div class="conenedor-contenido">
{% for mensaje in app.session.flashbag().get("mensaje") %}
	<strong>{{ mensaje }}</strong>
{% endfor %}
	<h2>Editar tarea</h2>
	{{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    {{ form_end(formulario) }}
</div>
{% endblock %}