{% extends 'base.html.twig' %}

{% block title %}Mis Tareas{% endblock %}

{% block body %}
<div class="conenedor-contenido">
	<h2>Mis tareas</h2>
	{{ include('includes/listado_tareas.html.twig') }}
</div>
{% endblock %}